.chat-main
  .chat-main__header
    .group-name
      Group1
      .group-name--member
        yuki
    .edit-btn
      =link_to "#", class: "chat-edit__btn" do
        Edit

  .Chat-message
    .Chat-message__post
      = render @messages
  

  .message-form
    = form_for [@group, @message] do |f|
      .input-box
        .input-box__text
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .input-box__text__image
            = f.label :image,class: 'input-box__text__image' do
              = icon('fas', 'image')
              = f.file_field :image, class: 'input-box__text__image__file'

      .send-btn
        = f.submit 'Send', class: 'send-btn__icon'