.sidebar
  .sidebar__header
    .user-name
      .user-name--box
        = current_user.name
      .user-name--icon
        =link_to new_group_path, class: "sidebar__btn" do
          = icon('fas', 'edit',  class: "sidebar__btn--icon")
        =link_to edit_user_path(current_user) do
          = icon('fas', 'cog',  class: "sidebar__btn--icon")

  .group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class:"group-list-btn" do
        .group-list__subject
          = group.name
        .group-list__comment
          = group.show_last_message